:root {
    --background-color: black;
    --highlight-background: #1a1a1a;
    --highlight-color: #ffa31a;
    --highlight-color-hover: #ffb52e;
}

body {
    height: 100%;
    background-color: var(--background-color);
}

p {
    color: white;
    margin: 0;
}

input {
    background-color: var(--highlight-background);
    border: 0;
    color: white;
    padding-left: 17px;
}

input.invalid {
    border: 1px solid red;
    background-color: darkred;
}

button {
    background-color: var(--highlight-color);
    border-width: 0;
}

button:hover {
    background-color: var(--highlight-color-hover);
}

.input-holder {
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    gap: 11px;
    max-width: 400px;
    padding: 30;
    border-radius: 15px;
    border: 1px solid white;
    font-size: 33;
    margin: 50px;
    width: 100%;
}

.input-holder :is(input, button) {
    width: 100%;
    height: 44px;
    border-radius: 12px;
}

.centered-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.error-msg {
    color: darkred;
    font-size: 14px;
    margin-top: 2px;
    padding-left: 10px;
}

#nav-bar {
    position: absolute;
    background-color: var(--highlight-background);
    height: 5%;
    width: 100%;
    min-height: 56px;
    top: 0;
    right: 0;
}

#nav-bar img{
    height: 100%;
    object-fit: cover;
}
